extends layout

block content
  - let items = results
  h1= title
  .container-fluid 
    .row 
      each cin in items
        div(class="col-sm-2" style=`border:solid 2px black` onclick=`buy(${items.indexOf(cin)})`) 
          p.
           Cinema_Name -  #{cin.cinema_Name}
          p.
           Cinema_Genre -  #{cin.cinema_genre}
          p.
           Cinema_parts -  #{cin.cinema_parts}
  script.
    function buy(index){
      alert("You purchased item "+index)
    }
