extends layout
block content
 if (toShow == null)
    h2 No instance to update
 else
        h1= title
        - let costumeid = toShow._id
        - let cname = toShow.cinema_Name
        - let cinG = toShow.cinema_genre
        - let cinparts = toShow.cinema_parts
        div.row(class='mb-2')
            div.mr-1 ID is
            div #{costumeid}
        - let actionid = "/resource/cinemas/"+toShow._id
        form(id='CostumeForm', action=actionid, method='PUT')   
            div.form-group
                label.costumeAttr(for='cinema_Name') Cinema Name
                input#costume_type(type='text', name='cinema_Name' value=cname)
            div.form-group
                label.costumeAttr(for='cinema_genre') Cinema genre
                input#size(type='text', name='cinema_genre' value=toShow.cinema_genre)
            div.form-group
                label.costumeAttr(for='cinema_parts') Cinema parts
                input#cost(type='number', name='cinema_parts' value=cinparts)
            input(type="submit")
        script.
             document.forms['CostumeForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                alert("Update succeded")
                // TODO handle body
                }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
                });
             });