extends layout

block content
  - let cinemas = results
  h1= title
  div(class="container-fluid")
  div(class="row m-1")
    each cinema in cinemas
      - let destination = `dispatch(\"/cinema/update?id=${cinema._id}\")`
      div(class="row-sm-2", class="m-1") cinema #{cinema.cinema_Name}(#{cinema.cinema_genre}) is #{cinema.cinema_parts} 
        button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }